.all-content {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    /* padding: 10px; */
}

.all-content > section {
    padding: 20px;
    font-size: 18px;
}

.horizontal-block {
    grid-column-start: 1;
    background-color: rgb(248, 239, 227);
}


.verticle-block {
    grid-column-start: 2;
    padding-top: 30px;
    background-color: rgb(247, 225, 197);
    padding-left: 10px;

}

.form-block {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
   
}

.photo1 {
    float: left;
    margin: 7px 7px 7px 0;
    width: 400px; 
    padding-bottom: 30px;
}

.photo2 {
    float: left;
    margin: 7px 7px 7px 0;
    width: 150px;
    padding-bottom: 10px;
}

hr {
    clear: left;
}

nav {
    /* display: inline-block; */
    text-align: center;
    margin-top: -50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

nav li {
    display: inline-block;
    text-align: center;
  }

ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
  
  }

li a {
    /* display: block; */
    width:auto;
    padding: 10px;
    text-decoration: none;
  }

li a:hover {
    background-color: white;
    color: darkcyan;
  }
  
li a.active {
    background-color: rgb(255, 255, 255);
    font-style: bold;
  }

.info-about {
    padding: 20px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.form-contact {
    border: 1px solid silver;
    border-radius: 15px;
    padding: 30px;
    margin: 100px auto;
    margin-top: 30px;
    width: 400px;
    background: whitesmoke;
    box-shadow: 0px 0px 15px rgb(247, 225, 197);
    text-align: left;
}

input {
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid silver;
    border-radius: 4px;
    width: 200px;
    box-shadow: 0px 0px 5px rgb(247, 225, 197);
    padding: 5px;
}

.form-feedback input {
    width: 300px;
}

button {
    width: 100px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 5px 5px;
    border: 2px solid grey;
    border-radius: 4px;
    background: rgb(52, 115, 223);
    color: rgb(255, 255, 255);
    text-align: center;
 
}

textarea {
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid silver;
    border-radius: 4px;
   
    box-shadow: 0px 0px 5px rgb(247, 225, 197);
    padding: 5px;
}

footer {
    margin: 30px;
    text-align: center;
}

.form-feedback {
    width: 600px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 0px;
    padding-top: 10px; 
}

.form-feedback div {
    margin-top: 10px;
}
